
configDir = './conf'

includeConfig "${configDir}/profiles.config"

includeConfig "${configDir}/tracing.config"

includeConfig "${configDir}/processes.config"

includeConfig "${configDir}/withLabel.config"

includeConfig "${configDir}/withBranch_Resources.config"

includeConfig "${configDir}/withLeaf_Resources.config"

includeConfig "${configDir}/withLeaf_Containers.config"

includeConfig "${configDir}/withLeaf_Executables.config"

includeConfig "${configDir}/withLeaf_Publish.config"

includeConfig "${configDir}/modules.config"
