
params.configDir = './conf'

includeConfig "$params.configDir/profiles.config"

includeConfig "$params.configDir/tracing.config"

includeConfig "$params.configDir/processes.config"

includeConfig "$params.configDir/withLabel.config"

includeConfig "$params.configDir/withBranch_Resources.config"

includeConfig "$params.configDir/withLeaf_Resources.config"

includeConfig "$params.configDir/withLeaf_Containers.config"

includeConfig "$params.configDir/withLeaf_Executables.config"

includeConfig "$params.configDir/withLeaf_Publish.config"

includeConfig "$params.configDir/modules.config"
