
/* PROFILES */

profiles {


    /* LOCAL SETTINGS */

        local {

            /* RESOURCES */

                params.max_memory = '4.GB'
                params.max_cpus   = 4
                params.max_time   = '24.h'

            /* CONDA */

                conda.enabled = true
                conda.useMamba = true

            /* DOCKER */

                docker.enabled         = true
                docker.userEmulation   = true 

        }


    /* HPC SETTINGS; ONT Login */

        login {

            /* RESOURCES */

                params.max_memory = '4.GB'
                params.max_cpus   = 4
                params.max_time   = '24.h'

            /* CONDA */

                conda.enabled = true
                conda.useMamba = true

            /* SINGULARITY */

                singularity.enabled         = true
                singularity.autoMounts      = true
                singularity.envWhitelist    = ['SINGULARITY_TMPDIR']

            /* PROCESS */

                process.maxForks = 1

        }


        bigmem {

            /* RESOURCES */

                params.max_memory = '600.GB'
                params.max_cpus   = 120
                params.max_time   = '24.h'

            /* CONDA */

                conda.enabled = true
                conda.useMamba = true

            /* SINGULARITY */

                singularity.enabled         = true
                singularity.autoMounts      = true
                singularity.envWhitelist    = ['SINGULARITY_TMPDIR']

            /* PROCESS */

                process.maxForks = 1

        }


    /* HPC SETTINGS; ONT Argus */

        argus {

            /* RESOURCES */

                params.max_memory = '4.GB'
                params.max_cpus   = 4
                params.max_time   = '24.h'

            /* UGE */

                process.executor       = 'sge'
                // process.clusterOptions = ''

            /* CONDA */

                conda.enabled = true
                conda.useMamba = true

            /* SINGULARITY */

                singularity.enabled         = true
                singularity.autoMounts      = true
                singularity.envWhitelist    = ['SINGULARITY_TMPDIR']

                /* i.e. launchDir/<cachDir>/image.[sif|img] */
                // singularity.cacheDir      = 'singularity'

                /* i.e. singularity [engineOptions] exec [runOptions] ... */
                // singularity.engineOptions = '--verbose --nocolor'
                // singularity.runOptions    = ''

        }

}
