
process {

    /* SETUP */

    debug = { params.DEBUG }

    errorStrategy  = 'finish'
    
    beforeScript = {

        "mkdir -p TASK_TMP" }

    afterScript = {

        // archive task files

        def taskDir = "${params.logDir}/tasks/${task.process.replace(':','.')}/${task.tag}"

        new File(taskDir).mkdirs()

        """     

        for LOG in .command*; do

            TASKLOG="${workflow.launchDir}/${taskDir}/${task.tag}.\${LOG##*.}"

            cp -a \$LOG \$TASKLOG

        done

        """.stripIndent() }

    }
