
process {

    /* SETUP */

    debug = { params.DEBUG }

    errorStrategy  = 'finish'
    
    beforeScript = {

        "mkdir -p TASK_TMP" }

    afterScript = {

        // archive task files

        def runDir = workflow.workDir.parent

        def logDir = params.logDir

        def taskDir = "$runDir/$logDir/tasks/${task.process.replace(':','.')}/$task.tag"
 
        """     

        for LOG in .command*; do

            TASKLOG="${taskDir}/${task.tag}.\${LOG##*.}"

            # copy task logs to s3 archive using .command.run function
            if [[ "${task.executor}" == "awsbatch" ]]; then

                nxf_s3_download \$LOG s3:/\$TASKLOG

            # copy task logs to local archive
            else

                mkdir -p "$taskDir"

                cp -a \$LOG \$TASKLOG

            fi

        done

        """.stripIndent() }

    }
