
def logTimestamp = new java.util.Date()
    .format( 'yyyy.MM.dd_HH.mm.ss')

params {

    logDir = "logs/reports_${logTimestamp}"

    pubDir = "published"

    intTag = "INTERMEDIATE"

    }


// nextflow run ... -with-report [file_name]

report {

    enabled   = true

    file      = "${params.logDir}/report.html"

    }

// nextflow run ... -with-trace

trace {

    enabled   = true

    file      = "${params.logDir}/trace.txt"

    }

// nextflow run ... -with-timeline [file_name]

timeline {

    enabled   = true

    file      = "${params.logDir}/timeline.html"

    }

// nextflow run ... -with-dag [file_name]

dag {
    
    enabled   = true
    
    overwrite = true
    
    file      = "${params.logDir}/dag.dot" // <dot|html|mmd|pdf|png|svg|gexf>

    }