
process {

    penv           = "mt"

    withLabel: BIGMEM {
        cpus           = 120
        memory         = '600 GB'
        }

    withLabel: DEFAULT {
        queue          = 'all.q'
        cpus           = 2
        clusterOptions = "-P applications"
        clusterOptions+= " -l m_mem_free=10G"
        }

    withLabel: BASIC {
        queue          = 'all.q'
        cpus           = 4
        clusterOptions = "-P applications"
        clusterOptions+= " -l m_mem_free=10G"
        }

    withLabel: gpuBASIC {
        queue          = 'all.q'
        cpus           = 8
        clusterOptions = "-P applications"
        clusterOptions+= " gpu=1,-l m_mem_free=5G"
        }

    withLabel: EXTRA {
        queue          = 'all.q'
        cpus           = 8
        clusterOptions = "-P applications"
        clusterOptions+= " -l m_mem_free=20G"
        }

    withLabel: LARGE {
        queue          = 'all.q'
        cpus           = 20
        clusterOptions = "-P applications"
        clusterOptions+= " -l m_mem_free=20G"
        }

    }
