
process {

    withName: 'Taxonomy:.*' {
        ext.tbc = null
        }

    withName: 'Search:.*' {
        ext.tbc = null
        }

    withName: 'Count:.*' {
        ext.tbc = null
        }

    withName: 'Format:.*' {
        ext.tbc = null
        }

    withName: 'Split:.*' {
        ext.tbc = null
        }

    withName: 'Examine:.*' {
        ext.tbc = null
        }

    withName: 'Fetch:.*' {
        ext.tbc = null
        }

    ////BRANCH_CONFIG////

    }
