
process {

    withName: 'Taxonomy:CoreWget:.*' {
    
        publishDir = [ 
            enabled    : true,
            mode       : 'copy',
            overwrite  : true,
            path       : params.pubDir,
            saveAs     : { path -> 
                return [
                    'supplementary', CoreMeta.name, 'WGET', 'CORE', CoreMeta.RUN, 
                    new File(path).getName(),
                    ].join('/') }
            ]
    
        }

    ////LEAF_CONFIG////

    }
