
process {

    withName: 'Taxonomy:DownloadCustom:.*' {
    
        container = {
            if (!task.ext.version || task.ext.version.equals('14.20.0')){
                "staphb/ncbi-datasets:14.20.0" 
                }
            }
    
        }

    withName: 'Search:SummaryDatasets:.*' {
    
        container = {
            if (task.ext.version.equals('X.X')){
                "####CONTAINER####" 
                }
            }
    
        }

    ////LEAF_CONFIG////

    }
