
process {

    withName: 'Taxonomy:DownloadCustom:.*' {
    
        publishDir = [ 
            enabled    : false,
            mode       : 'copy',
            overwrite  : true,
            path       : params.pubDir,
            saveAs     : { path -> 
                return [
                    'supplementary', 'taxonomy', CoreMeta.RUN, 
                    new File(path).getName(),
                    ].join('/') }
            ]
    
        }

    withName: 'Search:SummaryDatasets:.*' {
    
        publishDir = [ 
            enabled    : false,
            mode       : 'copy',
            overwrite  : true,
            path       : params.pubDir,
            saveAs     : { path -> 
                return [
                    'supplementary', 'DATASETS', 'SUMMARY', CoreMeta.RUN, 
                    new File(path).getName(),
                    ].join('/') }
            ]
    
        }

    withName: 'Format:TabulateCustom:.*' {
    
        publishDir = [ 
            enabled    : true,
            mode       : 'copy',
            overwrite  : true,
            path       : params.pubDir,
            saveAs     : { path -> 
                return [
                    'supplementary', CoreMeta.name, 'CUSTOM', 'TABULATE', CoreMeta.RUN, 
                    new File(path).getName(),
                    ].join('/') }
            ]
    
        }

    ////LEAF_CONFIG////

    }
