
process {

    withName: 'Query:SummaryDatasets:.*' {
    
        publishDir = [ 
            enabled    : false,
            mode       : 'copy',
            overwrite  : true,
            path       : { workflow.outputDir },
            saveAs     : { path -> 
                return [
                    'supplementary', CoreMeta.name, 'DATASETS', 'SUMMARY', CoreMeta.ID, CoreMeta.TAG, 
                    new File(path).getName(),
                    ].join('/') }
            ]
    
        }

    withName: 'Format:TabulateCustom:.*' {
    
        publishDir = [ 
            enabled    : false,
            mode       : 'copy',
            overwrite  : true,
            path       : { workflow.outputDir },
            saveAs     : { path -> 
                return [
                    'supplementary', CoreMeta.name, 'CUSTOM', 'TABULATE', CoreMeta.ID, CoreMeta.TAG, 
                    new File(path).getName(),
                    ].join('/') }
            ]
    
        }

    withName: 'Fetch:DownloadDatasets:.*' {
    
        publishDir = [ 
            enabled    : false,
            mode       : 'copy',
            overwrite  : true,
            path       : { workflow.outputDir },
            saveAs     : { path -> 
                return [
                    'supplementary', CoreMeta.name, 'DATASETS', 'DOWNLOAD', CoreMeta.ID, CoreMeta.TAG, 
                    new File(path).getName(),
                    ].join('/') }
            ]
    
        }

    withName: 'Taxonomy:DownloadCustom:.*' {
    
        publishDir = [ 
            enabled    : false,
            mode       : 'copy',
            overwrite  : true,
            path       : { workflow.outputDir },
            saveAs     : { path -> 
                return [
                    'supplementary', CoreMeta.name, 'CUSTOM', 'DOWNLOAD', CoreMeta.ID, CoreMeta.TAG, 
                    new File(path).getName(),
                    ].join('/') }
            ]
    
        }

    ////LEAF_CONFIG////

    }
