
process {

    withName: 'Taxonomy:DownloadCustom:.*' {
    
        ext.executable = {
            if (task.ext.version.equals('X.X')){
                "####EXECUTABLE####" 
                }
            }
    
        }

    withName: 'Query:SummaryDatasets:.*' {
    
        ext.executable = {
            if (task.ext.version.equals('X.X')){
                "####EXECUTABLE####" 
                }
            }
    
        }

    withName: 'Format:TabulateCustom:.*' {
    
        ext.executable = {
            if (task.ext.version.equals('X.X')){
                "####EXECUTABLE####" 
                }
            }
    
        }

    withName: 'Fetch:DownloadDatasets:.*' {
    
        ext.executable = {
            if (task.ext.version.equals('X.X')){
                "####EXECUTABLE####" 
                }
            }
    
        }

    ////LEAF_CONFIG////

    }
