
process {

    withName: 'Taxonomy:DownloadCustom:.*' {
    
        container = {
            if (!task.ext.version || task.ext.version.equals('18.23.0')){
                "ensemblorg/datasets-cli:v18.23.0" 
                }
            }
    
        }

    withName: 'Query:SummaryDatasets:.*' {
    
        container = {
            if (!task.ext.version || task.ext.version.equals('18.23.0')){
                "ensemblorg/datasets-cli:v18.23.0" 
                }
            }
    
        }

    withName: 'Format:TabulateCustom:.*' {
    
        container = {
            if (!task.ext.version || task.ext.version.equals('X.X')){
                "quay.io/biocontainers/pandas:1.4.3" 
                }
            }
    
        }

    withName: 'Fetch:DownloadDatasets:.*' {
    
        container = {
            if (!task.ext.version || task.ext.version.equals('18.23.0')){
                "ensemblorg/datasets-cli:v18.23.0"
                }
            }
    
        }

    ////LEAF_CONFIG////

    }
