
profiles {

        awsbatch {

                conda.enabled = true
                conda.useMamba = true

                docker.enabled         = true
                docker.userEmulation   = true 

                aws.region = "eu-west-2"

             // local launch only (i.e. not ec2 launch )
             // aws.profile = "~/.aws/credentials"
             // aws.accessKey = secrets.AWS_ACCESSKEY
             // aws.secretKey = secrets.AWS_SECRETKEY
             // aws.batch.cliPath = ''

             // fusion.enabled = true
             // fusion.exportStorageCredentials = true
             
                wave.enabled   = true

                }

        }

process {

        withLabel: AWSBATCH {

                resourceLimits.cpus   = 8
                resourceLimits.memory = 8.GB

                cpus           = { 2    * task.attempt }
                memory         = { 1.GB * task.attempt }
                
                executor = 'awsbatch'
                queue    = 'EC2_OD_TEST'

                }

        }
