
profiles {

        local {

                conda.enabled = true
                conda.useMamba = true

                docker.enabled         = true
                docker.userEmulation   = true 


                }
        
        }

process {

        containerOptions = """ \\
            --volume TASK_TMP:/tmp \\
            """

        withLabel: LOCAL {

                resourceLimits.cpus   = 8
                resourceLimits.memory = 8.GB

                cpus           = { 8    * task.attempt }
                memory         = { 8.GB * task.attempt }
                
                }

        }