
profiles {

        login {

                conda.enabled = true
                conda.useMamba = true

                docker.enabled         = true
                docker.userEmulation   = true 

                }

        }

process {

        withLabel: LOGIN {

                resourceLimits.cpus   = 8
                resourceLimits.memory = 8.GB

                cpus           = { 4    * task.attempt }
                memory         = { 4.GB * task.attempt }
                
                }

        }